/* Fonts */
@font-face {
    src: url(assets/ubuntu.ttf);
    font-family: ubuntu;
}

@font-face {
    src: url(assets/raleway.ttf);
    font-family: raleway;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-size-h1: clamp(45px, 8vw, 90px);
    --font-size-h2: clamp(32px, 6vw, 64px);
    --font-size-h3: clamp(23px, 4vw, 46px);
    --font-size-h4: clamp(16px, 3vw, 32px);
    --font-size-h5: clamp(11px, 2vw, 22px);
    --font-size-h6: clamp(8px, 1.5vw, 16px);
    --font-size-p: clamp(8px, 1.5vw, 16px);

    --purple: #341063;
    --yellow: #B2AC2A;
    --gradient: linear-gradient(90deg, rgba(52,16,99,1) 0%, rgba(178,172,42,1) 100%);;
    --white-100: rgba(221, 221, 221, 1);
    --white-75: rgba(208, 196, 224, 0.75);
    --white-50: rgba(208, 196, 224, 0.5);
    --white-25: rgba(208, 196, 224, 0.25);
    --white-10: rgba(208, 196, 224, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: raleway;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 800;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 400;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 800;
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 400;
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: 800;
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: 800;
}

p, span {
    font-family: ubuntu;
    font-size: var(--font-size-p);
}

body {
    background-color: var(--purple);
    color: var(--white-100);
}

nav {
    width: 100vw;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav a {
    width: calc(100%/9);
    text-align: center;
    opacity: 0;
    transition: opacity 300ms linear, transform 300ms linear;
    position: absolute;
    user-select: none;
    z-index: 1;
}

nav a h6 {
    display: inline-block;
    z-index: 2;
    position: relative;
}

nav a:nth-child(1) h6::after, nav a:nth-child(2) h6::after,
nav a:nth-child(4) h6::after, nav a:nth-child(5) h6::after  {
    content: "";
    position: absolute;
    display: block;
    border-radius: 25px;
    transition: border-top 40ms linear, left 200ms linear, width 300ms ease-in-out;
}

.hover-line::after {
    border: 2px solid var(--white-100) !important;
    width: 0% !important;
}

.unhover-line::after {
    border: 2px solid blue !important;
    width: max-content !important;
}

nav a:focus, nav a:target, nav a:active, nav a:visited, nav a:link, nav a:hover {
    text-decoration: inherit;
    color: inherit;
}

.diamond-nav {
    display: inline-flex;
    gap: 0;
    transition: gap 300ms linear;
    z-index: 10;
}

#filledDia {
    opacity: 0;
    transition: opacity 200ms linear;
}

#left-arrow, #right-arrow {
    transition: opacity 300ms linear;
    opacity: 0;
}

.diamond-nav svg {
    fill: var(--white-100);
    transform: scale(1.5, 2); 
}